html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
}

a {
    margin:0em;
    float: right; 
    padding:  0 1.5em 0 1.5em; 
}


form {


    text-align: center;
    margin: auto; 
    top: 37%; 
    bottom: 0%;


}
.textbox {
    padding: 0.5em;
    height: 20px;
    width: 25%;
    border-radius: 12px;
}

.searchhh {
    margin:1.5em;

}


.logo {
    position: absolute;
    left: 0; 
    right:0; 
    top: 0;
    bottom: 45%;
    margin: auto; 
    
}